@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');



/* === about === */


:root {
    --header-height: 3rem;
    /* === colors === */
    --base-color: #036bfc;
    --base-color-darker: #144c99;
    --base-color-darkest: #022e6b;
    --base-color-white: #FCF8F8;

    /* === font === */
    --body-font: 'Nanum Gothic', sans-serf;
    --big-font-size: 2.5rem;
    --normal-font-size: 1.5rem;
    --small-font-size: 0.938rem;
    /* === z-index === */
    --z-fixed: 100;
    
}

@media screen and (min-width : 768px) {
    :root {
        --big-font-size: 5rem;
        --normal-font-size: 1.8rem;
        --small-font-size: 1.2rem;
        --smallest-font-size: .938rem;;
    }
}

/* === BASE === */
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient( var(--base-color), rgb(196, 169, 218));
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
    padding: 0;
    user-select: none;
}

main{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}
h1,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

hr {
    margin-bottom: 30px;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* === LAYOUT === */
.__header {
    width: 100%;
    position: fixed;
    background-color: rgba(238, 214, 250, 0.1);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
  }

  .section{
    height : clac(100vh - var(--header-height));
    padding-top: 3rem;
    padding-bottom: 2rem;
    overflow:hidden;
  }

/* === NAV === */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__open,
.nav__close,
.nav__link {
    color : black;
}

@media screen and (max-width :768px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100%;
        padding: 3.5rem 1.5rem 0;
        backdrop-filter: blur(10px);
        transition: .5s;
    }
}

.nav__item {
    margin-bottom: 1.5rem;
}

.nav__open {
    font-size: 2rem;
    cursor: pointer;
    padding-left: .875rem;
}

.nav__link:hover {
    color: var(--base-color-white);
}

.nav__close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
}

.show {
    right: 0;
}

/* === home === */
.home {
    overflow: hidden;
}

.home__container {
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
}

.home__image {
    position: relative;
    justify-self: center;
    width: 302px;
    margin: auto;
    height: 233px;
}

.home__image img {
    position: absolute;
    top: 0;
    left: 0;
}

.home__strings {
    color: var(--base-color-white);
    margin-left: 3rem;
}

.home__title {
    font-size: var(--big-font-size);
    line-height: 1.3;
    margin-bottom: 1rem;
}

.home__description {
    margin-bottom: 2.5rem;
}

.home__button {
    display: inline-block;
    background-color: var(--base-color-darker);
    color: var(--white-color);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    margin-bottom: 5rem;
}

.home__button:hover {
    background-color: var(--base-color-darkest);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: var(--base-color-white);
}
.home__button:active {
    background-color: var(--base-color-darkest);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #777880;
    text-shadow: -1px -1px 0 #000000;
}

/* ===== about ===== */
.about{
    color: var(--base-color-white);
    padding: 3.5rem 1.5rem;
}

.introduce,
.education,
.tech{
    margin-bottom: 4rem;
}
.title{
    display:flex;
    text-align: center;
}
.title__string{
    font-weight: 600;
    font-size: var(--normal-font-size);
    padding-left: .3rem;
}
.introduce__content,
.education__schools,
.tech__item{
    font-size:var(--small-font-size);
    padding-left: 2rem;
    padding-top: 1.5rem;
}
.school{
    margin-bottom: 1rem;
}
.school:last-child{
    margin-bottom: 0;
}

.school__durataion{
    font-style: italic;
    padding-bottom: .3rem;
    font-size : var(--smallest-font-size);
}

.tech__item__subtitle{ 
    font-weight: 600;
    padding-bottom: .5rem;
}
.tech__content{
    padding-left : 1rem;
    font-size : var(--small-font-size);
    padding-top : .3rem;
}
.tech__list{
    display : flex;
    flex-direction: column;
}
/* ===== project ===== */
.project{
    color: var(--base-color-white);
    text-align: center;
    height: calc(100vh - var(--header-height));
    padding: 3.5rem 1.5rem;
    font-size: var(--small-font-size);
}
.project__container{
    display: flex;
    flex-flow: wrap;
}
.project_img{
    box-shadow: 0 25px 25px rgba(14, 36, 49, .15);
    width : 300px;
    height : 300px;
    border-radius: 50%;
    overflow: hidden;
}
.project_img img{
    transition : 1s;
    cursor: pointer;
}   
.project_img img:hover{
    transform:scale(1.1);
}
/* ===== contact ===== */
.contact__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact__input{
    width: 100%;
    font-size: var(--small-font-size);
    padding: .5rem;
    border-radius: .5rem;
    border: 0;
    outline: none;
    margin-bottom: 10px;
  }
  .contact__form{
      width : 70%;
  }
  .contact__button{
    display: block;
    border: none;
    padding : .5rem 1rem .5rem 1rem;
    border-radius: 10px;
    outline: none;
    color:var(--base-color-white);
    background-color: var(--base-color-darker);
    font-size: var(--small-font-size);
    cursor: pointer;
  }
  .contact__item{
    display : flex;
    cursor:pointer;
    width : 50px;
    flex-direction: row;
    color : var(--base-color-white);
  }

/* ===== MEDIA QUERIES ===== */
@media screen and (min-width : 768px){
    body{
        margin : 0;
    }
    .nav{
        height : calc(var(--header-height) + 2rem);
        border-bottom: none;
        width : 100%;
    }
    .nav__menu{
        margin: auto;
        font-size: var(--normal-font-size);
    }
    .nav__open,
    .nav__close{
        display: none;
    }
    .nav__list{
        display:flex;
    }
    .nav__item{
        margin-left: 3rem;
        margin-bottom: 0;    
    }
    .nav__link{
        font-weight: 600;
    }
    .nav__link:hover{
        color :var(--base-color-darker);
    }
    .nav__link:active{
        color :var(--base-color-darkest);
    }
    .nav__item:first-child{
        margin-left: 0rem;
        margin-bottom: 0;
    }
    .home__image{
        margin:0;
        margin-bottom: 10rem;
    }
    .home__container{
        height : 100vh;
        display : flex;
        flex-flow : row-reverse;
        align-items: center;
        justify-content: center;
    }

/* ===== about page ===== */
    .about__wrapper{
        display : flex;
        justify-content: space-around;
    }
    .tech__list{
        flex-direction: row;
    }
}
